services:
  neo4j:
    image: neo4j:latest
    container_name: sbom_neo4j
    environment:
      - NEO4J_AUTH=neo4j/test12345678
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
    ports:
      - "7474:7474" # Browser
      - "7687:7687" # Bolt
    volumes:
      - neo4j_data:/data
volumes:
  neo4j_data: