spring:
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: test12345678
  thymeleaf:
    cache: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
server:
  port: 8080